.card-attributes {
  list-style: none;
  width: 800px;
  height: 100%;
  padding: 0;
  margin-bottom: 0; 
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}



.card-attributes > li {
  display: inline-block;
  width: 200px;
  height: 50%;
}

.MuiSvgIcon-root {
  margin-left: 5px; 
}

.card-line {
  margin-top: 195px; 
}