.card-attributes {
  list-style: none;
  text-align: center;
  height: 100%;
  padding: 0;
  margin-bottom: 0; 
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card-attributes > li { 
  display: inline-block;
  height: 50%;
  margin-left: 8%; 
  margin-right: 8%; 
}

.MuiSvgIcon-root {
  margin-left: 10px; 
}

.card-line {
  margin-top: 14px; 
  margin-bottom: 14px; 
  width: 95%; 
}